.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 500;
    outline: none;
    font-size: 17px;
    transition: 0.4s;
    background-color: $background;
    border-bottom: 1px solid #C4C4C4;
    & i {
        font-size: 11px;
    }
    &_active {
        background-color: white;
        border: 1px solid #C4C4C4;
        color: $brand-color;
        font-weight: 700;
        border-bottom: 'none';
        border-top: 'none';
    }
}


.panel {
    padding: 0 17px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400px;
    display: none;
    overflow: hidden;
    background-color: white;
    font-size: 13px;
    border-bottom: 1px solid #C4C4C4;
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
}



