
.button {
    border-radius: 15px;
    font-weight: 500;
    &_large {
        height: 48px;
        width: 290px;
        &.brand-mode {
            background-color: $brand-color;
            border: 2px solid $brand-color;
            color: $background;
            &:hover {
                color: $brand-color;
                border: 2px solid $brand-color;
                background-color: transparent;
            }
        }
        &.black-mode {
            color: $background;
            background-color: $text-color;
            border: 2px solid $background;
            &:hover {
                color: $text-color;
                border: 2px solid $background;
                background-color: transparent;
            }
        }
        &.transparent-mode {
            background-color: transparent;
        }
       
    }
    &_medium {
        height: 44px;
        width: 260px;
        &.black-mode {
            color: $background;
            background-color: $text-color;
            border: 2px solid $background;
            &:hover {
                color: $text-color;
                border: 2px solid $background;
                background-color: transparent;
            }
        }
        &.transparent-mode {
            color: $background;
            background-color: transparent;
            border: 2px solid $background;
            &:hover {
                color: $text-color;
                border: 2px solid $background;
                background-color: $background;
            }
        }
    }
    &_small {
        height: 54px;
        width: 190px;
        &.white-mode {
            background-color: white;
        }
        &.white-mode:hover {
            background-color: $text-color;
            border: 2px solid $background;
            color: $background;
        }
    }
}

