.menu_items { 
    width: 100%;
    justify-content: flex-end;
}
.navbar {
    color: white;
    &-brand {
    }
    &_menu {
        align-items: baseline;
        width: 100%;
        display: flex;
        & button {
            background-color: $background;
        }
    }
    &_social {
        padding-left: 0px;
        justify-content: flex-start;
        text-decoration: none;
        list-style: none;
        align-items: center;
        margin-bottom: 0px;
        & li {
            padding: 0px 10px;
        }
    }
    &_links {
        & ul {
            text-align: center;
        }
    } 
    &_links li a {
        color: white;
    }
}

.menu_items .nav-item .nav-link:hover{
    color: $h2-option;
}