@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

// Colors
$text-color: #000000;
$background: #f8f8f8;
$brand-color: #df4e3c;
$h2-option: #aeaeae;
$text-possible-option: #8d8d8d;
$validation-color: #507a36;
$error: #ff2307;

// Fonts



